/*-----------------------------------------------------------------------------------

	custom.less

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	SyncApps Custom Design
-----------------------------------------------------------------*/

/** Variables **/

.noBorder {
  border:none !important;
}

.lightFont {
  font-weight: 100 !important;
}

.medFont {
  font-weight: 400;
}

.boldFont {
  font-weight: 800;
}

.big {
  font-size: 22px;
  font-weight: 600;
}

.medium {
  font-size: 18px;
}

.pad15 {
  padding: 15px;
}

.pad30 {
  padding: 30px;
}

.pad45 {
  padding: 45px;
}

.padside30 {
  padding: 15px 30px;
}

.marginBtm60 {
  margin-bottom: 60px;
}

.marginTop30 {
  margin-top: 30px;
}

.alignLeft {
  text-align: left;
}

.widthAuto {
  width: auto !important;
}

.greenBg {
  background: #93c054 !important;

}

.green {
  color: #93c054 !important;
}
.black {
  color: #333 !important;
}

.white {
  color: rgba(255, 255, 255, 0.9) !important;
}

.button-white {
  background-color: rgba(255, 255, 255, 0.9) !important;
  color: #444;
  text-transform: none !important;
}

.button-border-white {
  background: none!important;
  border: 1px solid #fff;
  font-size: 24px;
  font-weight: 100;
}

.button-white:hover {
  color: #999;
}

.content-wrap {
  position: relative;
  padding: 80px 0;
}


/** Header Styles Home **/
.swiper_wrapper {
  height: 600px;
}

.slider-caption h2 {
  text-transform: none;
  font-weight: 400;
  font-size: 52px;
}

a.syncapps-vid-front {
  opacity: .8;
}

a.syncapps-vid-front:hover {
  opacity: 1;
}

/* Top Menu */
#login-dropdown {
  min-width: 300px;
  padding: 10px 15px;
}

#login-dropdown form {
  margin-bottom: 0px;
}

.caret {
  display: inline-block !important;
}

#login-dropdown input[type=submit] {
  margin: 0px;
}


/*Home Search */

.slider-caption h2 {
  font-size: 32px !important;
  margin-bottom: 30px;
  margin-top: 30px;
}

.slider-caption p {
  font-size: 16px;
  max-width: 440px;
  margin: auto;
  margin-top: 15px;
}

.transparent-search-box {
  max-width: 380px;
  height: 240px;
  padding: 40px;
  min-height: 200px;
  background-color: rgba(255,255,255, .7);
  border-radius: 5px;
  margin: auto;
  margin-top: 15px;
}

.transparent-search-box h2.search-title {
  padding: 0 0 20px 0;
  margin-top: 0px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px !important;
  margin-bottom: 0;
}

.transparent-search-box input {
  float: left;
}

.transparent-search-box input[type=text], .transparent-search-box select {
  background-color: #fff !important;
}

.transparent-search-box input[type=text] {
  padding-right: 40px !important;
  margin-bottom: 10px;
}

.transparent-search-box input[type=submit] {
  margin-left: 0;
  margin-top: 1px;
  height: 45px;
}

.transparent-search-box .icon-line-search {
  float: right;
  margin-top: -47px;
  margin-right: 10px;
  color: #ccc;
}

.search-select {
  max-width: 170px;
  float: right;
}


.home-search-tooltip {
  float: left;
  margin: 8px 4px;
  color: #fff;
}


.testimony_content {
    padding: 10px 10px 10px 40px;
    background: url("../images/quote.png") no-repeat scroll top left rgba(0, 0, 0, 0);
}

.testimony_content p {
  margin: 0;
  padding-bottom: 27px;
  padding-left: 15px;
  padding-top: 22px;
  background: url("../images/quote2.png")
  no-repeat scroll bottom right rgba(0, 0, 0, 0);
}

#client-testimonials.testimonial {
  float: left;
}


/*Sign Up Page*/
#content.sign-up {
  background-image: url("../images/sign_up_bg.jpg");
  background-size: cover;
  background-position: center -140px;
}


.signup-form-div {
  padding: 30px;
  background-color: rgba(255,255,255, 0.8);
  border-radius: 3px;
}

.signup-right {
  max-width: 80%;
  margin: auto;
}

.signup-right p {
  padding-right: 45px;
}

#signup_submit {
  margin: 10px 0;
}

.join-happy-customers {
  margin: auto;
  background-color: rgba(0,0,0, .3);
  border-radius: 3px;
  padding: 15px 30px 15px 30px;
  box-shadow: 1px 1px 5px rgba(0,0,0, 0.35);
  margin-top: 200px;
}

.join-happy-customers p {
  margin-bottom: 15px;
}

.join-happy-customers .slides li img {
  margin: 15px 30px;
}


/*Popups*/
.popup {
  max-width: 600px;
  margin: auto;
  background-color: #fff;
  border-radius: 5px;
}

.popup .modal-footer p {
  margin-bottom: 15px;
}

.popup .modal-footer {
  background: #696c74;
  color: #c6c7c9;
}

.modal-footer h4 {
  margin-bottom: 15px;
  color: #c6c7c9;
}

.pricing img {
  vertical-align: top;
}

.popup fieldset {
  margin-bottom: 15px;
}

.popup form {
  margin-bottom: 0;
}


/* Pricing */

.pricing-price span.price-tenure {
  display: block;
  color: #93c054;
}

.pricing h1 {
  font-weight: 300;
  text-transform: uppercase;
  margin: 0 0 30px;
}

.pricing-box {
  margin-left: 15px !important;
  margin-right: 15px !important;
  background-color: transparent !important;
  border:0;
  box-shadow: 0 5px 12px -2px #000000;
}

.pricing-box a:hover {
  color: #93c054;
}

.pricing .tab-content {
  height: 420px !important;
}

.sync-profiles-span {
  display: block !important;
  font-size: 14px !important;
  color: #f68f1e !important;
}

.sync-profiles-span a, .sync-profiles-span a:hover {
  color: #f68f1e !important;
}

.pricing ul.tab-nav {
  border: none;
}

.pricing ul.tab-nav li:first-child, .pricing ul.tab-nav li {
  margin-left: 0px;
  border: none;
  width: 50%;
}

.pricing .tab1 {
  background: #3e3e3e !important;
  color: #fff !important;

}

.pricing .tab2 {
  background: #f0e6d9 !important;
}

.pricing-price {
  color: #fff;
}

.pricing .tab-container {
  padding-top: 0;
}

.pricing .ui-tabs-active {
  padding-top: 0px !important;
}

.pricing .ui-state-default {
  padding-top: 1px;
}

.rounded-top {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.tab1 .pricing-action {
  background: url(../images/pricing/tab1-bg.jpg) no-repeat top center / 100% 4px;
}

.tab2 .pricing-action {
  background: url(../images/pricing/tab2-bg.jpg) no-repeat top center / 100% 4px;
  margin-top: -40px;

}

.pricing-action a:hover {
  color: #fff;
}

.pricing .tab-height {
  height: 345px;
}

.tab2 h2 {
  color: #93C054;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 40px 0 50px;
}

.tab2 h3 {
  font-weight: normal;
  font-size: 50px;
  margin: 0 0 25px;
  line-height: 1;
  color: #696c74;
}

.tab2 h3 span {
  font-size: 21px;
  color: #696c74;
}

.tab2 p {
    color: #a2a2a2;
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 70px;
}

.learn {
  color: #f68e1e;
  font-size: 14px;
  text-transform: uppercase;
  text-align: right;
  display: inline-block;
  float: right;
  margin-right: 40px;
  background: url('../images/pricing/v-right-arrow.png') no-repeat center right;
  padding-right: 22px;
}

.choose-plan {
  background-color: rgba(255,255,255, 0.8) !important;
  padding: 30px;
  text-align: left;
  border-radius: 5px;
  border: 2px solid #dddddd;
}

.choose-plan h3 {
  margin:0;
  font-size: 32px;
  font-weight: 100;
}

.choose-plan p {
  font-size: 20px;
  color: #3e3e3e;
  margin: 0;
}

.choose-plan .button-amber:hover {
  color: #fff !important;
}

.heading-block.pricing {
  margin-bottom: 0;
}

.f_sftwr {
  background: rgba(147,192,84,.8);
  padding: 15px 15px 15px 25px;
  position: relative;
  margin-bottom: 0;
}

.f_sftwr input[type=text] {
  width: 100%;
  margin: 0;
  padding: 10px 20px;
  height: 45px;
  color: #333;
  font-weight: 700;
}

.f_sftwr input[type=image] {
  position: absolute;
  right: 40px; top: 30px;
}

.plan_item {
  padding: 20px 15px 20px 25px;
  background: #ecf0f1;
  border-bottom: 2px solid rgba(147,192,84,.8);
}
.plan_item img {
  margin-top: 10px;
}

.plan_items p {
  font-size: 17px;
  margin: 0;
  color: #3e3e3e;
  line-height: 1;
}

.plan_items span {
  font-size: 14px;
  color: #3e3e3e;
}

.plan_item.active {
  background-color: #3e3e3e;
}

.plan_item.active p, .plan_item.active span {
  color: #1abc9c;
}

#sa-pricing-slider {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  color: #6e7a87 !important;
}
#sa-pricing-slider a {
  color: #6e7a87 !important;
}
.sa_available_heading {
  margin: 0;
  color: #6e7a87 !important;
  font-size: 41px;
  text-align: center;
  padding: 30px 0;
  font-weight: 100;
}


#sa-pricing-slider .owl-carousel .owl-item img {
  display: inline-block !important;
  width: auto;
  margin-bottom: 30px;
}


#slider .owl-dots {
  position: absolute;
  width: 100%;
  z-index: 20;
  margin: 0;
  top: auto;
  bottom: 15px;
}

#slider .owl-controls .owl-dots span {
  width: 10px;
  height: 10px;
  margin: 0 3px;
  opacity: 1;
  background-color: transparent;
  border: 1px solid #666666;
}

#slider .owl-dots .owl-dot.active span,
#slider .owl-dots .owl-dot:hover span { background-color: #93c054 !important; }

.owl-theme .owl-controls .owl-nav [class*=owl-] {
  margin: 15px;
}

.all_plans .plan {
  background: #ecf0f1;
  border-radius: 5px;
  margin-top: 50px;
  min-height: 340px;
  transition-timing-function: ease-out;
}

.plan_icon {
  width: 110px;
  margin: 0 auto;
  padding: 43px 0 20px;
  height: 155px;
}

.all_plans .plan h4 {
  color: #34495e;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}

.all_plans .plan p {
  text-align: center;
  padding: 0 10px;
  color: #34495e;
  min-height: 45px;
}

#cazoomi-advantage h3 {
  margin: 15px;
}


#faq {
  background-color: #ffffff;
}


/*How it Works */
.see-how-it-works-div {
  position: absolute !important;
  left: 0;
  right: 0;
  bottom: 5%;
}


.v-down {
  width: 100%;
  text-align: center;
  display: block;
  text-align: center;
}

#page-title.page-title-parallax h2 {
  margin-bottom: 15px;
}

.step p, .step h2, .step h3 {
  .white;
}

.step p {
  font-size: 16px;
  max-width: 720px;
  margin: auto;
  text-align: left;

}

.step h2 {
  .lightFont;
  font-size: 38px;
  margin-bottom: 0px;
}

.step h3 {
  .lightFont;
  font-size: 28px;
}

.step img {
  margin: 15px;
}

#steps .i-bordered {
  border: 1px solid #fff;
  color: #fff;
}

#steps .process-steps li.active a, #steps  .process-steps li.ui-tabs-active a {
  background-color: #fff !important;
  color: #93c054;
  text-shadow: none;
  border-color: transparent !important;
}

#steps .process-steps li a:hover {
  background-color: #fff !important;
  color: #93c054;
  text-shadow: none;
}

#steps .process-steps li {
  width: 20%;
}

#steps .process-steps li.active h5, #steps .process-steps li.ui-tabs-active h5, #steps .process-steps li h5 {
  color: #fff;
}

#steps .process-steps li.active a, #steps .process-steps li.ui-tabs-active a {
  border-color: #fff !important;
}

#steps .process-steps {
  margin-bottom: 40px !important;
}

.live-site {
  background: url(../images/hiw/live-bg.jpg) no-repeat top center/cover;
}

.demo-site {
  background: url(../images/hiw/demo-bg.jpg) no-repeat top center/cover;
}

#demo .button {
  background-color: #97C62E !important;
}

#section3 .col_half {
  margin-bottom: 0px !important;
}

#section3 .container-fullwidth {
  padding: 0px !important;
}

#section3 h2 {
  font-size: 48px;
}

#section3 p {
  font-size: 18px;
  .white;
}

.site-type {
  float: left;
  width: 50%;
  text-align: center;
  height: 100%;
  padding: 10% 0;
}

.live-btn {
  padding: 10px 30px;
  font-size: 24px;
  height: auto;
  background-color: #8E44AD;
}

.live-btn:hover {
  background-color: #875F9A !important;
}

.title-border {
  max-width: 500px;
  margin: auto;
  padding: 10px;
  font-size: 38px !important;
  border: 1px solid #fff;
  margin-bottom: 30px;
}


#section-steps {
  padding: 60px 0px 30px 0px;
  color: #fff !important;
  text-align: center;
  background: url(../images/hiw/fifth-bg.jpg) no-repeat top center/ cover;
}

#section-steps h2 {
  margin-bottom: 15px;
}

#section4 {
  color: #fff !important;
  text-align: center;
  background: url(../images/hiw/sixth-bg.jpg) no-repeat top center/ cover;
}


section.hiw {
  margin: 0px !important;
}


.onepage-pagination li a:before{
  background: rgba(255,255,255,0.85) !important;
}

.onepage-pagination li a.active:before{
  border: 1px solid #fff !important;

}

.hiw iframe {
  margin: 30px;
}

.steps-nav {
  text-align: center;
  background-color: rgba(0,0,0, 0.5);
}

.steps-nav ul li {
  list-style: none;
  display: inline-block;
  padding: 15px;
}

.steps-nav ul li a {
  color: #fff;
}

.steps-nav ul li a.current, .steps-nav ul li a:hover {
  color:#95c345 !important;
}



/* Browse */

#browse-search-form {
  max-width: 600px;
  margin: auto;
}

#browse-search-form input[type=text] {
  background-color: rgba(0,0,0, 0.40);
  color: #fff !important;
  font-size: 18px;
  height: 60px;
  border: 2px solid rgba(0,0,0,0.8);
}

.app-filter {
  background: #f6f6f6;
  padding: 15px 0;
  border-bottom: 2px solid #e6e6e6;
  margin-bottom: 30px;
}

.app-filter select {
  border: 1px solid #ccc;
  border-radius: 0px;
  background-color: #fff;
  height: 30px;
}

.app-filter span {
  color: #333;
  font-weight:bold;
  font-size: 13px;
  margin-right: 5px;
}

.filter-group {
  margin: 10px;
  display: inline-block;

}

.app-div {
  float: left;
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
  padding: 15px;
  margin-bottom: 30px;
}

.app-div img {
  float: left;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
}

.app-content {
  float: left;
  width: 480px;
  padding: 0 25px;

}

.app-content h3 {
  margin-bottom: 5px;
  font-weight: 100;
}

.app-content a:hover {
  color: #97c62e;
}

.plans {
  float: left;
  width: 280px;
  padding: 0 25px;
}

.plans h4 {
  margin-top: 3px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 100;
  color: #666666;
}

.plans span {
  background-color: #97c62e;
  padding: 3px 5px;
  font-size: 11px;
  color: #fff;
  margin-bottom: 5px;
  text-align: center;
  border-radius: 2px;
}

.more-div {
  float: left;
  padding: 30px;
}


/** Case Study **/

#page-banner {
  color: #fff !important;
}

#page-banner .big {
  margin-bottom: 0px;
}

.page-title {
  font-size: 42px;
  font-weight: 300;
  color: #428929;
}

.subtitle {
  font-size: 24px;
  font-weight: 400;
  color: #428929;
}

ul#customers-logo {
  margin: 30px 0;
  padding: 0px;
  text-align: center;
}

ul#customers-logo li {
  list-style: none;
  display: inline;
  margin: 15px;
}

.case-study p {
  margin-bottom: 15px;
}

.case-study img.pull-left.img-thumbnail {
  margin-right: 15px;
}


/** Single App Page **/


.single-app-page-top p {
  font-size: 16px;
}

.single-app-page-price {
  display: inline-block;
  float: left;
  max-width: 140px;
  text-align: center;
  background-color: #e6e6e6;
  padding: 10px;
  border-radius: 5px;
  color: #555;
}

.single-app-page-top .sign-up-btn {
  display: inline-block;
  float: left;
  padding: 0 26px;
  font-size: 20px;
  height: 62px;
  line-height: 62px;
  margin-top: 0px;
}

.single-app-tab-nav {
  background-color: #333;
  color: #ccc;
}

.single-app-tab-nav ul {
  margin: 0;
}

.single-app-tab-nav ul li {
  display: inline-block;
  width: 15%;
  float: left;
}

.single-app-tab-nav ul li:first-child {
  padding: 15px 0;
}

.single-app-tab-nav ul li a {
  padding: 15px;
  line-height: 36px;
  display: inline-block;
  width: 100%;
  font-size: 18px;
  color: #8a8a8a;
}

.single-app-tab-nav ul li.ui-tabs-active {

}

.single-app-tab-nav ul li.ui-tabs-active a {
  color: #555;
  background-color: #f0e6d9 !important;
}

.single-app-tab-nav ul li a:hover {
  background-color: #f0e6d9 !important;
}

.steps-imgs img {
  max-width: 30%;
  height: auto;
  padding: 15px;
}

.apps_list_box_dynamic {
  padding: 15px;
}

.sync_apps_dynamic {
  width: 25%;
  float: left;
  height: 60px;
  text-align: center;
}


/** Services ***/

.services.container {

}

h1.services {
  font-size: 48px;
}

img.nl {
  display: none;
}

.sa_area {
  position: relative;
  min-height: 520px;
}

.sa_area, .sa_area h3 {
  color: #fff !important;
}

.sa_area h3 {
  font-weight: 300;
}

.sa_area h3, .sa_area ul {
  margin-bottom: 0;
}

.s_left {
  float: left;
  width: 28%;
  text-align: left;
}

.s_right {
  float: right;
  width: 28%;
  text-align: left;
  margin-right: -70px;
}

.s_top {
  margin-top: 15px;
}

.s_bot {
  margin-top: 45px;
}

.s_left .s_bot {
  margin-top: 102px;
}

.sa {
  position: absolute;
  z-index: -1;
  width: 100%;
}

.s_vid {
  margin-bottom: 30px;
}

.detail_2 ul {
  margin: 0;
}

.detail_2 ul li {
  display: inline;
  list-style: none;
}

.detail_2 ul li.center {
  margin: 0 100px;
}

.detail_2 ul li a {
  padding-bottom: 40px;
  background: url(../images/services/plan-breaker.png) no-repeat center bottom;
  display: inline-block;
  font-size: 18px;
}

.detail_3 .more-info p {
  font-size: 16px;
}

.detail_3 ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.detail_3 ul li {
  display: inline;
  margin: 0 15px;
}

.s-info {
  margin-top: 30px;
  float: right;
}

.s-info h4 {
  font-size: 20px;
  margin-bottom: 19px;
  font-weight: 300;
  color: #fff;
}

.s-info span {
  color: #acd367;
  font-size: 20px;
  padding-bottom: 18px;
  background: url(../images/services/line-breaker2.png) no-repeat bottom center;
  display: block;
  font-weight: 300;
  margin-bottom: 10px;
}


.detail_3 .s_form {
  background: url('../images/services/s-form-bg.png') no-repeat;
  max-width: 400px;
  padding: 30px 48px 40px;
  color: white;
}

.detail_3 p a {
  color: #f68f1e;
  font-style: italic;
}

.table i {
  margin-bottom: 0 !important;
}



.row-header-label {
  background: #525252 !important;
  font-weight: normal;
  color: #fff !important;
}

.column-top {
  text-align: center;
  font-weight: normal;
  font-size: 13px;
}

.column-top h2 {
  font-size: 18px;
  margin-bottom: 15px;
}

#services-table td {
  width: 25% !important;
}

.services-page h1 {
  font-weight: 300;
  margin-bottom: 15px;
  margin-top: 20px;
}

.back-to-top {
  text-align: right;
}


/** Support Pages **/
.app-filter.support {
  background-color: #fafafa;
}
.app-filter.support .filter-group {
  margin: 0;
}

#faqs {
  margin-bottom: 30px;
}

.togglec p {
  margin-bottom: 15px;
}

.support-search {
  max-width: 600px;
  margin: auto;
}

.support-search input[type=text] {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff !important;
  font-size: 18px;
  height: 60px;
  border: 2px solid rgba(0, 0, 0, 0.8);
}

/** Media Page **/

.video-box img {
  border: 1px solid #e6e6e6;
  padding: 5px;
  opacity: 0.7;
  background-color: #fafafa;
}

.video-box img:hover {
  opacity: 1;
  transition: opacity 0.5s;
}


/*** About us ***/

.about-us p.lead {
  font-size: 18px;
}

.about-us .col-md-6 img:hover {
  opacity: 0.8;
}

.advisor img {
  border: 2px solid #e6e6e6;
  opacity: 0.8;
}

.advisor img:hover {
  opacity: 1;
}

.advisor p {
  font-size: 16px;
}

.happy-partners ul li img {
  opacity: 0.8;
}


.happy-partners ul li img:hover {
  opacity: 1;
}

ul.slides {
  margin-left: 0;
}


/*** Features ***/

ul#features-top-nav {
  margin: 0;
}

ul#features-top-nav li {
  display: inline-block;
  margin: 15px 0;
}

ul#features-top-nav li a {
  color: #888;
  font-size: 16px;
  font-weight: 300;
}

ul#features-top-nav li.current a, ul#features-top-nav li a:hover {
  color: #95c345;
}

ul#features-top-nav li i {
  display: block;
  font-size: 38px;
}

ul#features-top-nav li {
  width: 160px;
}

.blue-bg {
  background-color: #9ebfcc !important;
}

.previous-btn {
  position: relative;
  left: 30%;
  margin-top: 280%;
  max-width: 80px;
  opacity: .8;
}

.next-btn {
  position: absolute;
  right: 30%;
  margin-top: 216%;
  max-width: 80px;
  opacity: .8;
}



/** Contact Us **/

#email_landing_trial_form {
  padding: 30px;
  background: #fafafa;
  border-radius: 5px;
  box-shadow: -3px -3px 0px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: -3px -3px 0px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: -3px -3px 0px rgba(0, 0, 0, 0.1) inset;
  -ms-box-shadow: -3px -3px 0px rgba(0, 0, 0, 0.1) inset;
  -o-box-shadow: -3px -3px 0px rgba(0, 0, 0, 0.1) inset;
}

  /* Footer */

#footer.dark, .dark #footer {
  background-color: #333 !important;

}

#footer .footer-widgets-wrap {
  padding: 40px 0;
  background: url(../images/pattern-white.png)
}

#footer.hiw .footer-widgets-wrap {
  padding: 0 !important;
}

#footer h4 {
  border-bottom: 2px solid #95c345;
  display: inline-block;
  margin-bottom: 15px;
}

#footer ul.menu {
  list-style: none;
  margin-left: 0;
}

#footer ul.menu li {
  margin-bottom: 5px;
}

#footer ul.menu li a:hover {
  border-bottom: 1px solid #95c345;
}

ul#foot-links li {
  display: inline-block;
  float: left;
}

ul#foot-links li a {
  background-position: 0;
}

.trust-seals img {
  margin: 10px;
}



  /* Other */
.notes {
  font-size: 12px;
  margin-top: 10px;
}


.popover, .popover p {
  font-size: 12px;
  color: #000 !important;

}

.popover p {
  margin-bottom: 15px;
}

.popover ul {
  padding-left: 20px;
}



.popover{position:absolute;top:0;left:0;z-index:1060;display:none;max-width:276px;padding:1px;text-align:left;white-space:normal;background-color:#fff;-webkit-background-clip:padding-box;background-clip:padding-box;border:1px solid #ccc;border:1px solid rgba(0,0,0,.2);border-radius:6px;-webkit-box-shadow:0 5px 10px rgba(0,0,0,.2);box-shadow:0 5px 10px rgba(0,0,0,.2)}.popover.top{margin-top:-10px}.popover.right{margin-left:10px}.popover.bottom{margin-top:10px}.popover.left{margin-left:-10px}.popover-title{padding:8px 14px;margin:0;font-size:14px;font-weight:400;line-height:18px;background-color:#f7f7f7;border-bottom:1px solid #ebebeb;border-radius:5px 5px 0 0}.popover-content{padding:9px 14px}.popover>.arrow,.popover>.arrow:after{position:absolute;display:block;width:0;height:0;border-color:transparent;border-style:solid}.popover>.arrow{border-width:11px}.popover>.arrow:after{content:"";border-width:10px}.popover.top>.arrow{bottom:-11px;left:50%;margin-left:-11px;border-top-color:#999;border-top-color:rgba(0,0,0,.25);border-bottom-width:0}.popover.top>.arrow:after{bottom:1px;margin-left:-10px;content:" ";border-top-color:#fff;border-bottom-width:0}.popover.right>.arrow{top:50%;left:-11px;margin-top:-11px;border-right-color:#999;border-right-color:rgba(0,0,0,.25);border-left-width:0}.popover.right>.arrow:after{bottom:-10px;left:1px;content:" ";border-right-color:#fff;border-left-width:0}.popover.bottom>.arrow{top:-11px;left:50%;margin-left:-11px;border-top-width:0;border-bottom-color:#999;border-bottom-color:rgba(0,0,0,.25)}.popover.bottom>.arrow:after{top:1px;margin-left:-10px;content:" ";border-top-width:0;border-bottom-color:#fff}.popover.left>.arrow{top:50%;right:-11px;margin-top:-11px;border-right-width:0;border-left-color:#999;border-left-color:rgba(0,0,0,.25)}.popover.left>.arrow:after{right:1px;bottom:-10px;content:" ";border-right-width:0;border-left-color:#fff}

#primary-menu > ul > li a div:hover, #primary-menu > ul > li.current a, #primary-menu > ul > li.current a div {
  color: #97c62e !important;
}

.bgcolor {
  background-color: #93c054!important;
}

ul, ol {
  margin-left: 20px;
}

select.sm-form-control {
  height: 25px;
  padding: 0 5px;
}


/** Modals **/

.modal-header {
  border-bottom: 0;
  background: #e9e8ed;
  float: left;
  width: 100%;
  position: relative;
  margin-bottom: 10px;
}

.modal-body {
  position: relative;
  padding: 30px 30px 15px 30px;
}

.modal-footer {
  text-align: left;
  border-top: none;
  background: #696c74;
  color: #c6c7c9;
  font-size: 16px;
}

.modal-footer a {
  margin-left: 2px;
  color: #e9eaeb;
  border-bottom: 1px dotted #e9eaeb;
}

.modal-header .close {
  z-index: 100;
  position: relative;
}

.modal-header {
  padding-bottom: 0;
}

.modal-header .col-md-9 {
  margin-bottom: -10px;
}

.modal-header h2 {
  margin-bottom: 0;
}

.modal-body h3 {
  margin-bottom: 15px;
}

.modal-header p {
  font-size: 18px;
}

.popup.hiw {
  max-width: 900px;
}


/*** Media Queries ***/

@media (min-width: 992px) and (max-width: 1320px) {

  .case-study #logo {
    border:none !important;
    padding: 0;
    width: 100%;
    margin: 0;
  }

  .case-study .sticky-header #logo {
    border:none !important;
    width: auto;
    padding-right: 30px;
    margin-right: 30px;
  }
  .case-study #primary-menu {
    float: left;
    clear: both;
    width: 100%;
    display: block;
  }

  .case-study .sticky-header #primary-menu {
    float: right;
    clear: none;
    width: auto;
  }

  .case-study #header.full-header #primary-menu > ul {
    border: none;
  }

  .case-study #header.full-header {
    border: none;
  }

  .case-study #header.sticky-header:not(.static-sticky) #primary-menu > ul > li > a {
    padding: 0 5px;
    letter-spacing: -0.5px;
  }

  .case-study #page-banner {
    width: 100%;
  }



}

@media (max-width: 1280px) {
  img.l {
    display: none;
  }

  img.nl {
    display: inline;
    margin-top: 100px;
  }

  .s_right {
    margin-right: 0;
  }
}



@media (min-width: 991px) and (max-width: 1080px) {
  #page-title.page-title-parallax h2 {
    font-size: 48px;
  }

  #primary-menu ul li a {
    padding: 0 5px;
  }

  #section4 img {
    max-height: 300px;
  }

}

@media (max-width: 991px) {
  #login-dropdown {
    width: 100% !important;
  }

  .transparent-search-box h2.search-title {
    font-size: 16px !important;
  }

  .slider-caption h2 {
    font-size: 22px !important;
  }

  .swiper_wrapper:not(.force-full-screen), .swiper_wrapper:not(.force-full-screen):not(.canvas-slider-grid) .swiper-slide {
    height: 500px !important;
  }


  .slider-caption.slider-caption-center {
    top:0px !important;
  }

  .app-div img {
    display: block;
    float: none;
    margin: 10px auto;
  }

  .app-content {
    max-width: 100%;
    text-align: center;
    float: none;
    padding: 0px;
  }

  .plans, .more-div {
    float: none;
    width: 100%;
    text-align: center;
  }

  .more-div a {
    display: block;
  }

  #sa-pricing-slider {
    margin-top: 60px;
  }

  .single-app-tab-nav ul li a {
    font-size: 14px;
  }

  .single-app-tab-nav .container {
    width: 90%;
  }

  .tab-content .col-md-4.pricing {
    padding-left: 0;
    padding-right: 0;
  }

  .tab-content .col-md-4.pricing .pricing-box {
    margin: 0;
  }

  .sa {
    padding-top: 40%;
    width: 175px;
    margin: auto;
    float: none;
    position: relative;
  }

  img.nl {
    margin-top: 0;
  }

  .previous-btn, .next-btn {
    display: none;
  }

}

@media (max-width: 768px) {

  .transparent-search-box {
    padding: 30px !important;
    height: 200px;
  }

  .transparent-search-box h2.search-title {
    font-size: 18px !important;
    padding-bottom: 0px !important;
  }

  .transparent-search-box input[type=submit] {
    display: inline-block !important;
  }

  .swiper_wrapper:not(.force-full-screen), .swiper_wrapper:not(.force-full-screen):not(.canvas-slider-grid) .swiper-slide {
    height: 420px !important;
  }

  .slider-caption p {
    display: inline-block !important;
  }

  .join-happy-customers .slides li img {
    margin: auto;
    display: block;
  }
  .join-happy-customers {
    padding-bottom: 30px;
  }

  .signup-right {
    max-width: 100%;
  }

  .signup-right p {
    padding-right: 0;
  }

  #section3 .container-fullwidth {
    padding: 0px !important;
    width: 100% !important;
  }

  .app-filter {
    text-align: center;
  }

  .filter-group {
    display: block;
    margin: 15px;
  }

  .filter-group select {
    min-width: 220px;
  }

  .app-filter span {
    display: block;
  }

  .filter-tooltip {
    display: none;
  }

  #cazoomi-advantage .col-md-4 {
    margin-bottom: 45px;
  }

  .page-title {
    font-size: 24px;
  }

  .title-border {
    font-size: 28px !important;
  }

  .modal, .modal-header {
    text-align: center;
  }

  .modal-header p {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .modal-header h2 {
    font-size: 18px;
  }

  .modal-header {
    padding-bottom: 15px;
  }

  .modal-header .col-md-9 {
    margin-bottom: 0px;
  }



  .site-type {
    width: 100%;
    padding: 15px 0;
    height: 50%;
  }

  #section3 h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }

  #section3 .pad30 {
    padding: 0;
  }

  #section3 p {
    margin-bottom: 15px;
  }

  #section-steps {
    padding: 15px 0;
  }

  .hiw iframe {
    margin: 70px 0 20px 0;
  }


  #copyrights .col_half:last-child {
    text-align: center !important;
    display: block !important;
  }

  #copyrights .col_half:last-child .fright {
    float: none !important;
    text-align: center;
    display: inline-block;
    margin-top: 15px;
  }

  .single-app-page-top {
    text-align: center !important;
  }

  .single-app-tab-nav {
    background-color: transparent;
  }
  .single-app-tab-nav h3 {
    color: #555 !important;
  }
  .single-app-page-price {
    display: block;
    width: 100%;
    max-width: 100%;
    text-align: center;
    margin: 0 0 30px 0;
  }

  .single-app-page-top .sign-up-btn {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 0 10px 0;
    z-index: 100;

  }

  .single-app-tab-nav ul li {
    width: 100%;
    text-align: center;
    line-height: 16px;
  }

  .single-app-tab-nav ul li a{
    text-align: center;
    background-color: #e6e6e6;
    padding: 10px;
    margin-bottom: 10px;
    line-height: 16px;
    border-radius: 5px;
  }

  .single-app-tab-nav ul li.ui-tabs-active a, .single-app-tab-nav ul li a:hover {
    background-color: #95c345 !important;
    color: #fff !important;
  }

  .single-app-tab-nav ul li.ui-tabs-active a {
    border-bottom: 0;
    line-height: 16px;
  }

  .steps-imgs img {
    max-width: 100%;
  }

  .sync_apps_dynamic {
    width: 50%;
    float: left;
    height: 60px;
    text-align: center;
  }

  .col-md-2.testimony_img {
    text-align: center;
  }

  #client-testimonials.testimonial {
    padding: 20px 10px;
  }

  .testimony_content {
    padding: 15px 0 0 0;
  }

  #client-testimonials .slides li {
    margin-left: -10px;
  }

  h1.services {
    margin-bottom: 0;
  }

  .sa {
    display: none;
  }

  .s_left, .s_right {
    width: 100%;
    padding-left: 20%;
  }

  .s_bot, .s_stop, .s_left .s_bot {
    margin: 15px 0 !important;
  }

  .detail_2 ul li.center {
    margin: 0px;
  }

  .detail_2 ul li {
    display: block;
    margin: auto;
    width: 100%;
    float: left;
    padding: 15px 0;
  }

  .s-info {
    float: none;
  }

  .detail_3 ul li {
    display: block;
    margin-bottom: 30px;
  }

  .s-info ul li {
    display: inline;
  }

  .detail_3 .s_form {
    background: rgba(151, 198, 46, 0.8);
    width: 100%;
    padding: 15px;
    margin-bottom: 30px;
    -webkit-box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.3);
  }

  .togglec img {
    height: auto !important;
  }

  .support .filter-group a.button {
    display: block;
    margin: 15px 0;
  }

  .happy-partners ul li img {
    margin: 30px auto;
  }

  #content.sign-up {
    background-position: top left;
  }

  .hiw iframe {
    width: 100% !important;
    margin: 70px 0 20px 0;
  }

}


/** How it works media query for iphone 6 plus landscape and below **/
@media only screen and (max-width: 737px) {
  .hiw.section {
    padding: 45px 0 !important;
  }
  .hiw iframe {
    width: 100% !important;
    margin: 70px 0 20px 0;
    height: 100%;
  }

  .v-down {
    display: none;
  }

  .onepage-wrapper .section {
    height: auto !important;
  }

  .steps-nav {
    display: none;
  }

  #select-syncapps-section {
    background: none !important;
  }

  #register-credentials-section .title-border {
    font-size: 18px !important;
    margin-bottom: 15px;
  }

  #steps .process-steps {
    display: none;
  }

  #section-steps .col-md-12 {
    margin: 20px 0;
  }
  .step img{
    margin: 15px 0;
  }

  #processTabs {
    margin-left: -10% !important;
  }

  #section-steps .col-md-7 {
    display: none;
  }

  #page-title.hiw {
    background-size: initial !important;
  }

  #page-title {
    min-height: 400px;
  }
}

@media only screen and (max-width: 480px) {

  .transparent-search-box {
    padding: 30px 15px !important;
  }

  .transparent-search-box h2.search-title {
    font-size: 14px !important;
  }

  .search-select {
    max-width: 110px;
  }

  .popup {
    max-width: 85%;
  }

  .padside30 {
    padding-left: 10px;
    padding-right: 10px;
  }


  .pad30 {
    padding: 15px 0;
  }

  .pricing-action {
    padding-left: 7px;
    padding-right: 7px;
  }

  .tab2 p {
    margin-bottom: 60px !important;
  }

  .tab2 h3 {
    font-size: 36px !important;
  }

  .tab2 h2 {
    margin: 40px 0 40px;
  }

  .learn {
    margin-right: 15px;
  }

  h1.services {
    font-size: 32px;
  }

  .s_left, .s_right {
    padding-left: 10%;
  }

  .s-info ul li {
    display: block;
  }

  .pad45 {
    padding: 15px 0;
  }

  .case-study p.center a.button.button-3d {
    font-size: 12px;
    padding-left: 8px;
    padding-right: 8px;
    margin: 0px;
  }

  ul#features-top-nav li i {
    display: none;
  }

  ul#features-top-nav li {
    margin: 10px 0;
  }

  .timeline-vertical li .time {
    padding-left: 0;
  }

  .timeline {
    margin: 0;
    padding: 0;
  }


}

/*Orange Signup button*/
div.sign-up-btn {
  background-color: #EB9C4D;
  height: 34px !important;
  color: #fff !important;
  float: left;
  display: inline !important;
  line-height: 100% !important;
  border-radius: 4px;
  padding: 10px 14px !important;
  margin-top: 32px;
}

#primary-menu ul li.sign-up-btn a div:hover  {
  color: #fff !important;
}

@media only screen and (max-width: 991px) {
  div.sign-up-btn {
    max-width: 100px;
    text-align: center;
    float: left;
    margin-top: 8px;
  }

}
