
.timeline-wrapper {
    max-width: 960px;
    margin: auto;
}

.caz-story-top {
    padding: 30px;
    text-align: center;
    border-bottom: 1px solid #e6e6e6;
}

.caz-story-top h1 {
    font-weight: 700;
    color: #173641;
    display: inline-block;
    margin: 20px 0;
    padding: 20px 0 25px 0;
    border: 3px solid #e9e9e9;
    border-right: none;
    border-left: none;
}

.caz-story-top p {
    max-width: 600px;
    margin: auto;
}

.timeline p {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}


.timeline .article:after {
    content: "";
    display: table;
    clear: both;
}


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.timeline {
    padding: 1rem;
    font-family: helvetica;
    position: relative;
}

.timeline:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0.4rem;
    background: #9CB030;
    left: -moz-calc(50% - 0rem);
    left: -o-calc(50% - 0rem);
    left: -webkit-calc(50% - 0rem);
    left: calc(50% - 0rem);
}

.timeline img {
    max-width: 100%;
    margin: auto;
    display: block;

}


.timeline em {
    font-style: italic;
}

.timeline strong {
    font-weight: bold;
}


.timeline > li {
    position: relative;
    list-style-type: none;
    clear: both;
}

.timeline > li:before {
    content: '';
    width: 3rem;
    height: 3rem;
    display: block;
    position: absolute;
    left: -moz-calc(50% - 1.3rem);
    left: -o-calc(50% - 1.3rem);
    left: -webkit-calc(50% - 1.3rem);
    left: calc(50% - 1.3rem);
    border-radius: 4em;
    background: #fff;
    border: 5px solid #9CB030;
}

.timeline .article {
    display: block;
    line-height: 1.5em;
    color: #323232;
    background: white;
    border: 1px solid #e9eeef;
    width: 100%;
    margin-bottom: 4em;
}
@media (min-width: 60em) {

    .timeline .article {
        width: 45%;
    }
}

.timeline .article p, .timeline .article ul, .timeline .article ol {
    padding:1rem;
}

.timeline .article ul, .timeline .article ol {
    list-style-position: inside;
}

.timeline .time {
    color: #9CB030;
    font-size: 2.2em;
    display: inline-block;
    position: relative;
    font-weight: 300;
    padding: .5em;
    padding-top: 0px;

}

.timeline h2 {
    font-size: 1.5em;
    font-weight: 300;
    font-family: helvetica;
    padding: 1rem;
}

.timeline footer {
    background: #f8f9fa;
    padding-top: 1rem;
    min-height: 36px;
}

.timeline footer a {
    color: #fff;
    background: #9CB030;
    text-decoration: none;
    font-size: .9em;
    padding: .5em;
    border-radius: 3px;
}


.timeline-vertical .article {
    float: left;
    /*padding-top: 5px; */
}


.anim-left, .anim-right {
    visibility: hidden;
}

.timeline-div {
    background-image: url('../images/story/pattern-black.png');
}


@media (min-width: 60em) {

    .timeline-vertical .time {
        margin-left: 8rem;
        top: -.5rem;
    }

}
@media (min-width: 60em) {

    .timeline-vertical li:nth-child(2n) .article {
        float: right;
        margin-left: 8em;
        margin-top: -.4em;
    }
}

.timeline-vertical li:nth-child(2n) .time {
    padding-left: .5em;
}
@media (min-width: 60em) {

    .timeline-vertical li:nth-child(2n) .time {
        position: absolute;
        right: 54.5%;
        padding-right: 0;
    }
}

@media (max-width: 768px) {
    .timeline .time {
        font-size: 1.5em;
    }
}

@media (max-width: 480px) {
    .timeline .time {
        font-size: 1em;
    }
    .timeline-vertical .article {
        margin-top: 20px;
    }
}

