@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300italic,300,100italic);

.home-icon-nav {
    width: 20%;
    float: left;
    margin-bottom: 15px;
}

.home-icon-nav a {
    color: #333;
}

.home-icon-nav img {
    opacity: 0.5;
    max-height: 90px;
    cursor: pointer;
}

.home-icon-nav img:hover {
    opacity:1;
}

.home-icon-nav p {
    font-size: 16px;
    margin: 15px 0;
}


#header #header-wrap {
    position: relative !important;
    box-shadow: none !important;
    border-bottom: 1px solid #95c345;
}

#header.full-header #logo {
    border-right: none;
}

.sticky-header {
    height: 60px !important;
}

#request-demo-div {
    float: right;
    margin-top: 8px;
}

#primary-menu-trigger {
    display: none;
}

.demo-nav {
    float: right;
    list-style: none;
    padding-left: 0;
    margin: 1px 0 0 0;
}


.demo-nav li a{
    font-size: 13px;
    color: #444 !important;
    font-weight: 600;
    width: 35px;
    height: 35px;
    transition: all .2s ease-in-out;
    border-radius: 18px;
    text-align: center;
    padding: 9px 10px 10px;
    display: inline-block;
    margin: 5px 5px 7px 5px;
}

.demo-nav li {
    display: inline-block;
}

.demo-nav li a.current {
    color: #fff !important;
    background-color: #95c345;
}

.demo-nav li a.visited {
    color: #525252!important;
    background-color: #eee !important
}

#demo-nav-section {
    background-color: #fafafa;
    border-bottom: 2px solid #e6e6e6;
}

#demo-nav-section .container {
    width: 100%;
    padding: 0 30px;
}

#demo-nav-section h4  {
    float: left;
    margin: 11px 0 0 0;
    font-weight: 400;
}

#demo-slider {
    min-height: 640px;
    background-color: #B8BFBA;
}

#demo-slider .container {
    width: 1200px !important;
}

.fslider {
    width: 1200px !important;
}

.callout {
    padding: 0 20px 20px 20px;
    font-size: 16px;
    width: 280px;
    position: relative;
    background-color: #d9e1e2;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
}

.callout-with-cta {
    position: relative;
}

.callout.cta {
    background-color: #003c4c;
    color: #fff;
    display: none;
}

.callout.cta h4  {
    color: #fff;
}

.cta a.button {
    margin-left: 0;
}

.close-cta {
    font-size: 12px;
    color: #fff !important;
    display: block;
    margin-top: 10px;
    margin-left: 10px;
}

.callout:before {
    content: "";
    border: 30px solid transparent;
    position: absolute;
    border-color: transparent;
}

.callout.left:before {
    top: 7%;
    left: -60px;
    border-right: 30px solid #d9e1e2;
}

.callout.right:before {
    top: 7%;
    right: -60px;
    border-left: 30px solid #d9e1e2;
}

.callout h4 {
    color: #1f2b3d;
    line-height: 120%;
    font-weight: 600;
    padding-top: 15px;
    margin-bottom: 10px;
}

/* Hide flex slider dots */
.flex-control-nav {
    display: none;
}

/* tooltip override **/

.tooltip.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-bottom-color: #000000;
    border-width: 0 5px 5px;
}

.tooltip.bottom .tooltip-arrow {
    top: -1px;
    left: 50%;
    margin-left: -10px;
    border-bottom-color: #555;
    border-width: 0 10px 10px;
}
.tooltip-inner {
    font-size: 14px;
    font-weight: 300;
    margin-top: 0px;
    color: #fff;
    background: #555;
}

#demo-finish {
    color: #fff;
    font-family: 'Lato', sans-serif !important;
}

#demo-finish h2 {
    font-family: 'Lato', sans-serif;
    font-size: 48px;
    line-height: 60px;
    color: #fff;
    margin-bottom: 0;
}

a.cazoomi-blue, a.cazoomi-blue:hover {
    background: #024 !important;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    margin-left: 0;
}

a.button.white {
    font-family: 'Lato', sans-serif;
    color: #07b !important;
    text-shadow: none !important;
    background-color: #fff;
    font-weight: 500;
}

.pad-top-30 {
    padding-top: 30px;
}

#explore-div {
    margin-top: 30px;
    width: 320px;
    border-bottom: 1px solid #fff;
    padding-bottom: 45px;
    margin-bottom: 15px;
}

a#explore-link{
    font-size: 12px;
    color: #fff !important;
}

@media (max-width: 991px) {
    #logo{
        height:auto;
    }

    #request-demo-div {
        text-align: center;
        float: none;
        margin: 5px;
    }

    #demo-finish .container {
        padding: 0 !important;
    }

    #demo-finish h2 {
        font-size: 28px;
        line-height: 150%;
    }

    a.button.white {
        margin-left: 0;
    }

    .pad-top-30 {
        padding-top: 0;
    }

    #span-or {
        display: block;
    }

}


/*Mobile Slide Demo*/
@media (max-width: 768px) {
    #demo-slider .container {
        width: 100% !important;
    }

    .fslider {
        width: 100% !important;
    }

    .callout {
        display: none;
    }

}

.mobile-demo-slide .callout {
    display: block;
    width: 100%;
    margin: 30px 0;
}

.mobile-demo-slide .callout h4 {
    font-size: 18px;
}

.mobile-demo-slide .callout a.button {
    margin: 0;
    text-align: center;
}

