<div id="sync_profile" class="popup">
    <div class="popup-header modal-header center">
        <img src="images/logo.png" alt="syncapps logo" id="popup_logo">
    </div>

    <div class="modal-body">
        <h4>List Available SyncApps</h4>
    </div>
    <div class="modal-footer">
        <p class="center">
            <i>Don't have a SyncApps account?<b> <a href="/signup"> Register for free.</a></b></i>
        </p>
    </div>



</div>