<div id="sync_profile" class="popup">
    <div class="popup-header modal-header center">
        <img src="images/logo.png" alt="syncapps logo" id="popup_logo">
    </div>

    <div class="modal-body">
        <div class="padside30">

            <form action="/application/dosignup" method="POST" onsubmit="if (!checkPassword($('#signup_password').val(), $('#signup_password2').val())) return false;">
                <div class="form-group">
                    <label>Email Address</label>
                    <input type="text" name="email" size="40" id="email" value="" required="required" class="form-control">
                    <div class="notes">Email address will be used for login.</div>
                </div>

                <div class="form-group">
                    <label>First Name</label>
                    <input type="text" name="firstName" size="40" id="firstName" value="" required="required" class="form-control">
                </div>

                <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" name="lastName" size="40" id="lastName" value="" required="required" class="form-control">
                </div>

                <div class="form-group">
                    <label>Company Name</label>
                    <input type="text" name="companyName" size="40" id="companyName" value="" class="form-control">
                </div>

                <div class="form-group">
                    <label>Password</label>
                    <input type="password" name="password" size="40" id="signup_password" value="" autocomplete="off" required="required" class="form-control">
                </div>

                <div class="form-group">
                    <label>Re-type Password</label>
                    <input type="password" name="password2" size="40" id="signup_password2" value="" autocomplete="off" class="form-control">
                </div>

                <div class="notes center">
                    By pressing "Start Free Trial", you agree to Cazoomi's <a href="/tos" target="_blank">Terms of Service</a> and <a href="/privacy" target="_blank">Privacy Policy</a>.
                </div>

                <div class="form-group">
                    <input id="signup_submit" class="button button-3d button-large btn-block" type="submit" value="Create My Account">
                </div>

            </form>

        </div>
    </div>
    <div class="modal-footer alignLeft">
        <h4 class="center">HOW YOUR TRIAL WORKS</h4>
        <p class="notes">After you create your account, you get instant access to all Sync Profiles for 2 weeks & we don't require a credit card during the trial, so you get to try Cazoomi risk-free.</p>

        <p class="notes">If you haven't upgraded yet within the 2 weeks trial, our Cazoomi team will send you an email reminder before your trial ends so you will still have some time to choose one of our three subscription plans. (Nonprofit discounts:50%) </p>

        <p class="notes">When you choose the subscription plan that is right for you, your account will be instantly upgraded.</p>

    </div>



</div>