<div id="sync_profile" class="popup">
    <div class="popup-header modal-header center">
        <img src="images/logo.png" alt="syncapps logo" id="popup_logo">
    </div>

    <div class="modal-body">
                <br>
                <p>
                    A Sync Profile refers to the setup of 2 available software applications where one application is synced to another
                    application. This includes all the settings for both applications including connection configuration, Sync Addon selections, field
                    mapping and Sync scheduling.
                </p>
                <div class="center">
                    <img alt="SyncApps" src="images/gadgets_small.png">
                </div>
    </div>
    <div class="modal-footer">
        <p class="center">
            <i>Don't have a SyncApps account?<b> <a href="/signup.html"> Register for free.</a></b></i>
        </p>
    </div>



</div>